server:
  port: 8083
spring:
  application:
    name: TASK-SERVICE
  main:
    web:
      application:
        type: reactive
  datasource:
    url: jdbc:postgresql://localhost:5433/productivity_db
    username: postgres
    password: manager
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true